:root {
  --primary-color: #ffed99;
  --secondary-color: #f6b8b8;
  --third-color: #ac66cc;
  --fourth-color: #3b14a7;
}

body {
  margin-top: 100px;
  color: var(--fourth-color);
}

h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 70px;
  font-weight: bolder;
  text-transform: capitalize;
  text-decoration: underline;
  margin: 50px 0;
}

p {
  font-family: "Merriweather", serif;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
}

@media (max-width: 575.98px) {
  p {
    font-size: 20px;
    line-height: 33px;
  }
}

#to-be {
  font-weight: 600;
  text-transform: uppercase;
}
#topic {
  margin: 70px 0;
}

li {
  font-family: "Merriweather", serif;
  font-size: 20px;
  list-style-type: none;
}

.nav-link {
  color: var(--fourth-color) !important;
}

h3 {
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 30px 0;
  font-weight: bolder;
  line-height: 50px;
}

h5 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
  font-weight: 580;
  line-height: 50px;
  padding: 20px;
}

#skills {
  max-width: 50px;
}
@media (max-width: 575.98px) {
  #skills {
    text-align: center !important;
    margin: 0 auto;
    display: block;
  }
}

.center {
  text-align: center !important;
  margin: 0 25px;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

button {
  margin-bottom: -10px !important;
}

div .border {
  border: 1px solid var(--primary-color) !important;
  border-radius: 2px;
  margin-bottom: 10px;
}
img {
  margin-bottom: 10px;
}
#app-preview {
  background: var(--primary-color);
}

#building-tools {
  color: var(--third-color);
  font-size: 16px;
}

#contact-me {
  background: var(--third-color);
  opacity: 0.8;
}
