:root {
  --primary-color: #ffed99;
  --secondary-color: #f6b8b8;
  --third-color: #ac66cc;
  --fourth-color: #3b14a7;
}

body {
  margin-top: 100px;
  color: var(--fourth-color);
  background-color: var(--primary-color);
}

h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 70px;
  font-weight: bolder;
  text-transform: capitalize;
  margin: 50px 0;
}

p {
  font-family: "Merriweather", serif;
  line-height: 50px;
  text-align: center;
}

p #italic:hover {
  font-style: italic;
}

@media (max-width: 575.98px) {
  p {
    line-height: 30px;
  }
}

#to-be {
  font-weight: 600;
  text-transform: uppercase;
}
#topic {
  margin: 70px 0;
}

li {
  font-family: "Merriweather", serif;
  font-size: 20px;
  list-style-type: none;
}

.nav-link {
  color: var(--fourth-color) !important;
}

h3 {
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 30px 0;
  font-weight: bolder;
  line-height: 50px;
}

h5 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
  font-weight: 580;
  line-height: 50px;
  padding: 20px;
}

#skills {
  max-width: 50px;
}

#skill-name {
  font-family: "Merriweather", serif;
  color: var(--third-color);
}

img#tool {
  max-height: 50px;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 50px;
  }

  img#tool {
    max-height: 40px;
  }

  #skill-name {
    font-size: 10px;
    font-weight: bolder;
    margin: 0px 25px;
  }
  img#certificate {
    max-height: 220px;
  }

  #app-content {
    display: none;
  }

  footer {
    font-size: 11px;
  }
}

.center {
  text-align: center !important;
  margin: 0 25px;
  display: block;
}

a {
  text-decoration: none;
  color: var(--fourth-color);
}

button {
  margin-bottom: -10px !important;
}

div .border {
  border: 1px solid var(--secondary-color) !important;
  border-radius: 2px;
  margin-bottom: 25px;
}

img#projects {
  margin-bottom: 30px;
  padding: 2px;
}

#app-preview {
  background: var(--secondary-color);
}

#building-tools {
  color: var(--third-color);
  font-size: 16px;
  font-style: italic;
}

#to-other-page {
  font-size: 50px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0 auto;
  padding: 20px;
  transition: all 100ms ease-in-out;
}

#to-other-page:hover {
  background: white;
  color: var(--fourth-color) !important;
}

footer {
  text-decoration: overline;
}
